{% extends "base.html" %}
{% block content %}
<div class="form2">
    <h1>Regístrate para ingresar tus claves</h1>
    <ul class="form-reg">
        <div class="scroll-pane">
            <li class="text">Correo electrónico (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
            <li class="text">Fecha de nacimiento (*)</li>
            <li class="textbox">
            <select id="" name="" class="cboDia">
                <option value="">[día]</option>
            </select>
            <select id="" name="" class="cboMes">
                <option value="">[mes]</option>
            </select>
            <select id="" name="" class="cboAnio">
                <option value="">[año]</option>
            </select>
            </li>
            <li class="text">Nombres (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
            <li class="text">Apellido paterno (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
            <li class="text">Apellido materno (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
            <li class="text">Departamento (*)</li>
            <li class="textbox">
            <select id="" name="" class="cboUbigeo">
                <option value="">[seleccionar]</option>
            </select>
            </li>
            <li class="text">Provincia (*)</li>
            <li class="textbox">
            <select id="" name="" class="cboUbigeo">
                <option value="">[seleccionar]</option>
            </select>
            </li>
            <li class="text">Distrito (*)</li>
            <li class="textbox">
            <select id="" name="" class="cboUbigeo">
                <option value="">[seleccionar]</option>
            </select>
            </li>
            <li class="text">Dirección (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
            <li class="text">Teléfono casa (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
            <li class="text">Teléfono celular (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
            <li class="text">Tipo documento (*)</li>
            <li class="textbox">
            <select id="" name="" class="cboUbigeo">
                <option value="">[seleccionar]</option>
            </select>
            </li>
            <li class="text">Número documento (*)</li>
            <li class="textbox"><input id="" name="" type="text" /></li>
        </div>
        <li class="text">&nbsp;</li>
        <li class="textbox">&nbsp;</li>
        <li class="botones">
        <span class="msg">(*) Campos obliigatorios</span>
        <a href="javascript:void(0)" class="btn-enviar"></a>
        <a href="javascript:void(0)" class="btn-borrar"></a>
        </li>
    </ul>
</div>
{% endblock %}


