[buildout]
parts =
    deps
    manejatuvida
    admin
find-links =
    http://github.com/dcramer/django-oursql/tarball/master#egg=django-oursql-0.1
    http://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz

[deps]
recipe = zc.recipe.egg
eggs =
    PIL
    mysql-python
    django
    django-debug-toolbar
    django-extensions
    django-registration
    django-grappelli
    linaro-django-pagination

[manejatuvida]
recipe = djangorecipe
project = project
settings = development
eggs = ${deps:eggs}
extra-paths =
    project
    project/apps

[admin]
recipe = djangorecipe
project = project
settings = admin_development
eggs = ${deps:eggs}
extra-paths =
    project
    project/apps

