            <div id="divProductos" class="content-body-item">
                <div class="form-productos">
                    <h1><b>¡Que ninguno se te escape!</b> Entérate qué productos Nosotras participan en la promoción. ¡¡A más códigos, más opciones de ganar!!</h1>
                    <div class="content-productos">
                        <a href="javascript:void(0)" class="flecha_izq_carousel_productos" onclick="moveToPrev(); return false;"></a>
                        <a href="javascript:void(0)" class="flecha_der_carousel_productos" onclick="moveToNext(); return false;"></a>
                        <ul class="info-cartel">
                            <li id="img1"><img src="{{ STATIC_URL }}images/img-prod-01-cartel.png" /></li>
                            <li id="img2"><img src="{{ STATIC_URL }}images/img-prod-02-cartel.png" /></li>
                            <li id="img3"><img src="{{ STATIC_URL }}images/img-prod-03-cartel.png" /></li>
                            <li id="img4"><img src="{{ STATIC_URL }}images/img-prod-04-cartel.png" /></li>
                            <li id="img5"><img src="{{ STATIC_URL }}images/img-prod-05-cartel.png" /></li>
                            <li id="img6"><img src="{{ STATIC_URL }}images/img-prod-06-cartel.png" /></li>
                            <li id="img7"><img src="{{ STATIC_URL }}images/img-prod-07-cartel.png" /></li>
                            <li id="img8"><img src="{{ STATIC_URL }}images/img-prod-08-cartel.png" /></li>
                            <li id="img9"><img src="{{ STATIC_URL }}images/img-prod-09-cartel.png" /></li>
                            <li id="img10"><img src="{{ STATIC_URL }}images/img-prod-10-cartel.png" /></li>
                            <li id="img11"><img src="{{ STATIC_URL }}images/img-prod-11-cartel.png" /></li>
                            <li id="img12"><img src="{{ STATIC_URL }}images/img-prod-12-cartel.png" /></li>
                            <li id="img13"><img src="{{ STATIC_URL }}images/img-prod-13-cartel.png" /></li>
                            <li id="img14"><img src="{{ STATIC_URL }}images/img-prod-14-cartel.png" /></li>
                            <li id="img15"><img src="{{ STATIC_URL }}images/img-prod-15-cartel.png" /></li>
                            <li id="img16"><img src="{{ STATIC_URL }}images/img-prod-16-cartel.png" /></li>
                            <li id="img17"><img src="{{ STATIC_URL }}images/img-prod-17-cartel.png" /></li>
                            <li id="img18"><img src="{{ STATIC_URL }}images/img-prod-18-cartel.png" /></li>
                        </ul>
                        <ul id="flip">
                            <li id="01"><img src="{{ STATIC_URL }}images/img-prod-01-paquete.png" /></li>
                            <li id="02"><img src="{{ STATIC_URL }}images/img-prod-02-paquete.png" /></li>
                            <li id="03"><img src="{{ STATIC_URL }}images/img-prod-03-paquete.png" /></li>
                            <li id="04"><img src="{{ STATIC_URL }}images/img-prod-04-paquete.png" /></li>
                            <li id="05"><img src="{{ STATIC_URL }}images/img-prod-05-paquete.png" /></li>
                            <li id="06"><img src="{{ STATIC_URL }}images/img-prod-06-paquete.png" /></li>
                            <li id="07"><img src="{{ STATIC_URL }}images/img-prod-07-paquete.png" /></li>
                            <li id="08"><img src="{{ STATIC_URL }}images/img-prod-08-paquete.png" /></li>
                            <li id="09"><img src="{{ STATIC_URL }}images/img-prod-09-paquete.png" /></li>
                            <li id="10"><img src="{{ STATIC_URL }}images/img-prod-10-paquete.png" /></li>
                            <li id="11"><img src="{{ STATIC_URL }}images/img-prod-11-paquete.png" /></li>
                            <li id="12"><img src="{{ STATIC_URL }}images/img-prod-12-paquete.png" /></li>
                            <li id="13"><img src="{{ STATIC_URL }}images/img-prod-13-paquete.png" /></li>
                            <li id="14"><img src="{{ STATIC_URL }}images/img-prod-14-paquete.png" /></li>
                            <li id="15"><img src="{{ STATIC_URL }}images/img-prod-15-paquete.png" /></li>
                            <li id="16"><img src="{{ STATIC_URL }}images/img-prod-16-paquete.png" /></li>
                            <li id="17"><img src="{{ STATIC_URL }}images/img-prod-17-paquete.png" /></li>
                            <li id="18"><img src="{{ STATIC_URL }}images/img-prod-18-paquete.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>

