            <div id="divPremios" class="content-body-item">
                <div class="form-premios">
                    <div class="content-tabs">
                        <ul class="tabs-menu">
                            <li class="tab-menu-suzuki-vitara">
                                <a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
                                <a href="javascript:void(0)" class="tab-suzuki-swift"></a>
                                <a href="javascript:void(0)" class="tab-ipod"></a>
                            </li>
                            <li class="tab-menu-suzuki-swift not-visible">
                                <a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
                                <a href="javascript:void(0)" class="tab-suzuki-swift"></a>
                                <a href="javascript:void(0)" class="tab-ipod"></a>
                            </li>
                            <li class="tab-menu-ipod not-visible">
                                <a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
                                <a href="javascript:void(0)" class="tab-suzuki-swift"></a>
                                <a href="javascript:void(0)" class="tab-ipod"></a>
                            </li>
                        </ul>
                        <ul class="tabs-content">
                            <li class="tab-bg-suzuki-vitara">
                                <p>&nbsp;</p>
                                <p>Gana una Grand Vitara o Suzuki Swift y siéntete libre de ir a donde quieras.</p>
                                <p><span>¡Conoce cada auto de cerca!</span></p>
                                <div class="img"><img src="{{ STATIC_URL }}images/img-premios-suzuki-vitara.png" width="527" height="194" alt="" /></div>
                            </li>
                            <li class="tab-bg-suzuki-swift not-visible">
                                <p>&nbsp;</p>
                                <p>Gana una Grand Vitara o Suzuki Swift y siéntete libre de ir a donde quieras.</p>
                                <p><span>¡Conoce cada auto de cerca!</span></p>
                                <div class="img"><img src="{{ STATIC_URL }}images/img-premios-suzuki-swift.png" width="527" height="194" alt="" /></div>
                            </li>
                            <li class="tab-bg-ipod not-visible">
                                <p>&nbsp;</p>
                                <p>Lleva tu música a todos lados con los iPods que Nosotras te regala.</p>
                                <div class="content-cycle">
                                    <a href="javascript:void(0)" class="prev"></a>
                                    <div class="cycle">
                                        <img src="{{ STATIC_URL }}images/img-premios-ipod-nano.png" width="447" height="173" alt="" />
                                        <img src="{{ STATIC_URL }}images/img-premios-ipod-touch.png" width="447" height="173" alt="" />
                                    </div>
                                    <a href="javascript:void(0)" class="next"></a>
                                </div>
                                <p><span>*Todas tus claves te dan una opción para el sorteo diario. A mas claves ingresadas, más opciones de ganarlo.</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

