			<div id="divCompartir" class="content-body-item">
				<div class="form-compartir">
					<p class="title">¡Compártelo con todas!</p>
					<p class="message">¿Esta frase Nosotras va contigo?</p>
					<p class="message"><span>¡¡Entonces compártela en tu muro y participa del sorteo de iPods y vales de Saga Falabella!!</span></p>
					<p class="message"><img src="{{ STATIC_URL }}images/img-sticker.png" width="475" height="138" alt="" /></p>
					<p class="message" align="right"><a href="javascript:void(0)" class="btn-compartir-facebook" onclick="loginFacebook()"></a></p>
				</div>
			</div>

