                <div class="form-clave-ya-registrada" style="display:none;">
                    <p class="title"><span>Lo sentimos</span> Catherin Rivera</p>
                    <p class="message">Esta clave ya ha sido ingresada.</p>
                    <p class="message"><span>Con anterioridad o en promociones anteriores.</span></p>
                    <p>&nbsp;</p>
                    <p class="message"><a href="javascript:void(0)" class="btn-ingresa-otra-clave" onclick="transicion('.form-clave-ya-registrada', '.form-captcha')"></a></p>
                </div>

