                <div class="form-captcha" style="display:none;">
					<h1>Participa, ingresa la clave de tu empaque y entra al sorteo de iPods semanales<br />y dos autos que regala Nosotras.</h1>
                    <ul class="formulario3">
                        <li class="text">Ingresa tu clave<br />de empaque:</li>
                        <li class="textbox"><input id="codigoEmpaque" name="" type="text" /> <a href="javascript:void(0)" class="btn-interrogante" onclick="codEmpaque()"></a><span class="codigo-empaque hidden" style="visibility:hidden;"></span></li>
                        <li class="captcha">
                        </li>
                        <li class="botones">
                            <a href="javascript:void(0)" class="btn-enviar" onclick="validate_form_captcha()"></a>
                            <a href="javascript:void(0)" class="btn-borrar"></a>
                        </li>
                        <li class="msg" style="font-weight:normal;width: 438px !important;">(*)Recuerda que participarán en el sorteo semanal las claves ingresadas desde las 00:00 horas del lunes hasta las 23:59 del día domingo de la misma semana. No son acumulables para las siguientes semanas.(**) Recuerda guardar el empaque con la clave.</li>
                    </ul>
                </div>

