                <div class="form-captcha" style="display:none;">
                    <h1>Ingresa la clave de tu empaque y participa del sorteo de<br /><b>un iPod diario y dos autos que regala Nosotras</b>.</h1>
                    <ul class="formulario3">
                        <li class="text">Ingresa tu clave<br />de empaque:</li>
                        <li class="textbox"><input id="codigoEmpaque" name="" type="text" /> <a href="javascript:void(0)" class="btn-interrogante" onclick="codEmpaque()"></a><span class="codigo-empaque hidden" style="visibility:hidden;"></span></li>
                        <li class="captcha">
                        </li>
                        <li class="botones">
                            <a href="javascript:void(0)" class="btn-enviar" onclick="validate_form_captcha()"></a>
                            <a href="javascript:void(0)" class="btn-borrar"></a>
                        </li>
                        <li class="msg" style="font-weight:normal;">Recuerda que participará en el sorteo del día, las claves ingresadas desde las 00 horas hasta las 23:59. No son acumulables. ** Recuerda guardar el empaque con la clave.</li>
                    </ul>
                </div>

