                <div class="form2" style="display:none;">
                    <h1>Regístrate para ingresar tus claves</h1>
                    <ul class="form-reg">
                        <div class="scroll-pane">
                            <li class="text">Correo electrónico (*)</li>
                            <li class="textbox"><input class="required" id="txtEmail_2" name="txtEmail_2" type="text" /></li>
                            <li class="text">Fecha de nacimiento (*)</li>
                            <li class="textbox">
                                <select id="cboDia_2" name="cboDia_2" class="cboDia required">
                                    <option value="">[día]</option>
                                    {% for day in days %}
                                    <option value="{{ day }}">{{ day }}</option>
                                    {% endfor %}
                                </select>
                                <select id="cboMes_2" name="cboMes_1" class="cboMes required">
                                    <option value="">[mes]</option>
                                    {% for key, month in months.items %}
                                    <option value="{{ key }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                                <select id="cboAnio_2" name="cboAnio_2" class="cboAnio required">
                                    <option value="">[año]</option>
                                    {% for year in years %}
                                    <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li class="text">Nombres (*)</li>
                            <li class="textbox"><input class="required" id="txtNombres" name="txtNombres" type="text" /></li>
                            <li class="text">Apellido paterno (*)</li>
                            <li class="textbox"><input class="required" id="txtApePa" name="txtApePa" type="text" /></li>
                            <li class="text">Apellido materno (*)</li>
                            <li class="textbox"><input class="required" id="txtApeMa" name="txtApeMa" type="text" /></li>
                            <li class="text">Departamento (*)</li>
                            <li class="textbox">
                                <select id="cboDpto" name="cboDpto" class="cboUbigeo">
                                    <option value="">[seleccionar]</option>
                                    {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.name }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li class="text">Provincia (*)</li>
                            <li class="textbox">
                                <select id="cboProv" name="cboProv" class="cboUbigeo required">
                                    <option value="">[seleccionar]</option>
                                </select>
                            </li>
                            <li class="text">Distrito (*)</li>
                            <li class="textbox">
                                <select id="cboDist" name="cboDist" class="cboUbigeo required">
                                    <option value="">[seleccionar]</option>
                                </select>
                            </li>
                            <li class="text">Dirección (*)</li>
                            <li class="textbox"><input class="required" id="txtDireccion" name="txtDireccion" type="text" /></li>
                            <li class="text">Teléfono casa (*)</li>
                            <li class="textbox"><input class="required" id="txtTelfCasa" name="txtTelfCasa" type="text" maxlength="7" /></li>
                            <li class="text">Teléfono celular (*)</li>
                            <li class="textbox"><input class="required" id="txtTelfCel" name="txtTelfCel" type="text" maxlength="9" /></li>
                            <li class="text">Número documento (*)</li>
                            <li class="textbox"><input class="required" id="txtDni" name="txtDni" type="text" maxlength="8" /></li>
                        </div>
                        <li class="botones">
                            <span class="msg">(*) Campos obligatorios</span>
                            <a href="javascript:void(0)" class="btn-enviar" onclick="validate_form2()"></a>
                            <a href="javascript:void(0)" class="btn-borrar" onclick="clean_form2()"></a>
                        </li>
                    </ul>
                </div>

