                <div class="form-clave-correcta" style="display:none;">
                    <p class="title"><span>Suerte,</span> Catherin Rivera</p>
                    <p class="message">Tu clave ha sido procesada satisfactoriamente.</p>
                    <p class="message"><span>Tienes</span> 2 opciones <span>para el sorteo del iPod de hoy</span></p>
                    <p class="message"><span>Tienes</span> 2 opciones <span>para el sorteo final de 1 Grand Vitara</span></p>
                    <p class="message"><a href="javascript:void(0)" class="btn-ingresa-otra-clave" onclick="transicion('.form-clave-correcta', '.form-captcha')"></a></p>
                </div>

