                <div class="form-clave-captcha-no-valida" style="display:none;">
                    <p class="title"><span>Lo sentimos</span> <span class="profile_name"></span></p>
                    <p class="message">El codigo de validación no es correcto.</p>
                    <p class="message"><span>Por favor ingresa correctamente las palabras <br /> que se muestran en la imagen e intentalo nuevamente.</span></p>
                    <p class="message"><a href="javascript:void(0)" class="btn-intentar-nuevamente-aqui" onclick="transicion('.form-clave-captcha-no-valida', '.form-captcha');javascript:Recaptcha.reload()"></a></p>
                </div>
