{% extends 'base.html' %}
{% block content %}
    <!-- content inicio -->
 
    <div id="contenedor_1" class="content-body">
        <div class="content-body-hidden">
            <div id="bgDiv1" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-01.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-01.jpg" /></div>
            <div id="bgDiv2" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-02.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-02.jpg" /></div>
            <div id="bgDiv3" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-03.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-03.jpg" /></div>
            <div id="bgDiv4" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-04.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-04.jpg" /></div>
            <div id="bgDiv5" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-05.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-05.jpg" /></div>
            <div id="bgDiv6" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-06.jpg" /></div>
        </div>
    </div>
    <div id="contenedor_2" class="content-body">
        <div class="content-body-hidden">
            <div id="divInicio" class="content-body-item">
				<div class="NosotrasCartels">
					<div id="NosotrasCartels"></div>
				</div>
                <div class="nosotrasHome"><img src="{{ STATIC_URL }}images/img-home.png" width="851" height="427" alt="" /></div>
            </div>
            <!-- ////////////////////// -->
            <div id="divIntra1" class="content-body-item">
                {% include 'main/_form1.html' %}
                <!-- ////////////////////// -->
                {% include 'main/_form2.html' %}
                <!-- ////////////////////// -->
                {% include 'main/_form_captcha.html' %}
                <!-- ////////////////////// -->
                {% include 'main/_form_clave_correcta.html' %}
                <!-- ////////////////////// -->
                {% include 'main/_form_clave_ya_registrada.html' %}
                <!-- ////////////////////// -->
                {% include 'main/_form_clave_no_valida.html' %}
                <!-- ////////////////////// -->
                {% include 'main/_form_clave_captcha_no_valida.html' %}
                <!-- ////////////////////// -->
            </div>
            <!-- ////////////////////// -->
            {% include 'main/_div_compartir.html' %}
            <!-- ////////////////////// -->
            {% include 'main/_div_premios.html' %}
            <!-- ////////////////////// -->
            {% include 'main/_div_productos.html' %}
            <!-- ////////////////////// -->
            {% include 'main/_div_comercial.html' %}
            <!-- ////////////////////// -->
        </div>
    </div>
    <!-- content fin -->
{% endblock content %}
