{% extends 'base.html' %}
{% block content %}
	<!-- content inicio -->
	<div class="content-body">
		<div class="content-body-hidden">
			<!-- ////////////////////// -->
			<div id="divInicio" class="content-body-item">
				<div id="parallax" align="center"><img src="{{ STATIC_URL }}images/img-home-layer-0.png" id="myimage2" alt=""></div>
			</div>
			<!-- ////////////////////// -->
			<div id="divIntra1" class="content-body-item">
				<div class="form1">
					<h1>Ingresa la clave de tu empaque y participa del sorteo de <b>1 Grand Vitara, 1 Suzuki Swift y 1 iPod diario</b> que regala Nosotras.</h1>
					<ul class="formulario1">
						<li class="text">Correo electrónico:*</li>
						<li class="textboxBG"><input id="" name="" type="text" /></li>
						<li class="text">Fecha de nacimiento:*</li>
						<li class="textboxBG">
							<select id="" name="" class="cboDia">
								<option value="">Día</option>
							</select>
							<select id="" name="" class="cboMes">
								<option value="">Mes</option>
							</select>
							<select id="" name="" class="cboAnio">
								<option value="">Año</option>
							</select>
						</li>
						<li class="msg">Mensaje de error al ingresar email y/o fec. Nac</li>
						<li class="botones">
							<span class="msg">(*) Campos obliigatorios</span>
							<a href="javascript:void(0)" class="btn-enviar"></a>
							<a href="javascript:void(0)" class="btn-borrar"></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- ////////////////////// -->
			<!--<div id="divIntra2" class="content-body-item">
				<div class="form2">
					<h1>Regístrate para ingresar tus claves</h1>
					<ul class="form-reg">
						<div class="scroll-pane">
							<li class="text">Correo electrónico (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
							<li class="text">Fecha de nacimiento (*)</li>
							<li class="textbox">
								<select id="" name="" class="cboDia">
									<option value="">[día]</option>
								</select>
								<select id="" name="" class="cboMes">
									<option value="">[mes]</option>
								</select>
								<select id="" name="" class="cboAnio">
									<option value="">[año]</option>
								</select>
							</li>
							<li class="text">Nombres (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
							<li class="text">Apellido paterno (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
							<li class="text">Apellido materno (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
							<li class="text">Departamento (*)</li>
							<li class="textbox">
								<select id="" name="" class="cboUbigeo">
									<option value="">[seleccionar]</option>
								</select>
							</li>
							<li class="text">Provincia (*)</li>
							<li class="textbox">
								<select id="" name="" class="cboUbigeo">
									<option value="">[seleccionar]</option>
								</select>
							</li>
							<li class="text">Distrito (*)</li>
							<li class="textbox">
								<select id="" name="" class="cboUbigeo">
									<option value="">[seleccionar]</option>
								</select>
							</li>
							<li class="text">Dirección (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
							<li class="text">Teléfono casa (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
							<li class="text">Teléfono celular (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
							<li class="text">Tipo documento (*)</li>
							<li class="textbox">
								<select id="" name="" class="cboUbigeo">
									<option value="">[seleccionar]</option>
								</select>
							</li>
							<li class="text">Número documento (*)</li>
							<li class="textbox"><input id="" name="" type="text" /></li>
						</div>
						<li class="botones">
							<span class="msg">(*) Campos obliigatorios</span>
							<a href="javascript:void(0)" class="btn-enviar"></a>
							<a href="javascript:void(0)" class="btn-borrar"></a>
						</li>
					</ul>
				</div>
			</div>-->
			<!-- ////////////////////// -->
			<!--<div id="divIntra3" class="content-body-item">
				<div class="form-captcha">
					<h1>Ingresa la clave de tu empaque y participa del sorteo de<br /><b>un iPod diario y dos autos que regala Nosotras</b>.</h1>
					<ul class="formulario3">
						<li class="text">Ingresa tu clave<br />de empaque:</li>
						<li class="textbox"><input id="" name="" type="text" /> <a href="javascript:void(0)" class="btn-interrogante" onclick="codEmpaque()"></a><span class="codigo-empaque hidden" style="visibility:hidden;"></span></li>
						<li class="captcha">
							<span class="captcha_image"><img src="images/img-captcha.gif" width="215" height="50" alt="" /></span>
							<span class="captcha_textbox"><input id="" name="" type="text" /></span>
						</li>
						<li class="botones">
							<a href="javascript:void(0)" class="btn-enviar"></a>
							<a href="javascript:void(0)" class="btn-borrar"></a>
						</li>
						<li class="msg" style="font-weight:normal;">Recuerda que participará en el sorteo del día, las claves ingresadas desde las 00 horas hasta las 23:59. No son acumulables. ** Recuerda guardar el empaque con la clave.</li>
					</ul>
				</div>
			</div>-->
			<!-- ////////////////////// -->
			<div id="divIntra4" class="content-body-item">
				<div class="form-clave-correcta">
					<p class="messages"><span>Suerte,</span> Catherin Rivera</p>
					<p>&nbsp;</p>
					<div class="content-msg"><img src="{{ STATIC_URL }}images/txt-clave-satisfactoria.png" width="377" height="67" alt="" /></div>
					<p>&nbsp;</p>
					<div class="content-msg"><a href="javascript:void(0)" class="btn-ingresa-otra-clave"></a></div>
				</div>
			</div>
			<!-- ////////////////////// -->		
			<div id="divIntra5" class="content-body-item">
				<div class="form3">
					<p class="messages"><span>Lo sentimos</span> Catherin Rivera</p>
					<p>&nbsp;</p>
					<div class="content-msg"><img src="{{ STATIC_URL }}images/txt-clave-ingresada-igual.png" width="329" height="56" alt="" /></div>
					<p>&nbsp;</p>
					<div class="content-msg"><a href="javascript:void(0)" class="btn-ingresa-otra-clave"></a></div>
				</div>
			</div>
			<!-- ////////////////////// -->
			<div id="divIntra6" class="content-body-item">
				<div class="form3">
					<p class="messages"><span>Lo sentimos</span> Catherin Rivera</p>
					<p>&nbsp;</p>
					<div class="content-msg"><img src="{{ STATIC_URL }}images/txt-clave-ingresada-no-valida.png" width="346" height="55" alt="" /></div>
					<p>&nbsp;</p>
					<div class="content-msg"><a href="javascript:void(0)" class="btn-intentar-nuevamente-aqui"></a></div>
				</div>
			</div>
			<!-- ////////////////////// -->
			<div id="divCompartir" class="content-body-item">
				<div class="form4">
					<h1 style="font-size:16px;">¡Compártelo con todos!</h1>
					<p>&nbsp;</p><p>&nbsp;</p>
					<p><img src="{{ STATIC_URL }}images/img-sticker.png" width="436" height="172" alt="" /></p>
					<p align="right"><a href="javscript:void(0)" class="btn-intentar-nuevamente-aqui"></a></p>
				</div>
			</div>
			<!-- ////////////////////// -->
			<div id="divPremios" class="content-body-item">
				<div class="form-premios">
					<div class="content-tabs">
						<ul class="tabs-menu">
							<li class="tab-menu-suzuki-vitara">
								<a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
								<a href="javascript:void(0)" class="tab-suzuki-swift"></a>
								<a href="javascript:void(0)" class="tab-ipod"></a>
							</li>
							<li class="tab-menu-suzuki-swift not-visible">
								<a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
								<a href="javascript:void(0)" class="tab-suzuki-swift"></a>
								<a href="javascript:void(0)" class="tab-ipod"></a>
							</li>
							<li class="tab-menu-ipod not-visible">
								<a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
								<a href="javascript:void(0)" class="tab-suzuki-swift"></a>
								<a href="javascript:void(0)" class="tab-ipod"></a>
							</li>
						</ul>
						<ul class="tabs-content">
							<li class="tab-bg-suzuki-vitara">
								<div class="content-cycle" style="margin-left:20px;">
									<a href="javascript:void(0)" class="prev"></a>
									<div class="cycle">
										<span><img src="{{ STATIC_URL }}images/img-cycle-suzuki-vitara.png" width="399" height="113" alt="" /></span>
										<span><img src="{{ STATIC_URL }}images/img-cycle-suzuki-vitara.png" width="399" height="113" alt="" /></span>
									</div>
									<a href="javascript:void(0)" class="next"></a>
								</div>
							</li>
							<li class="tab-bg-suzuki-swift not-visible">
								<div class="content-cycle">
									<a href="javascript:void(0)" class="prev"></a>
									<div class="cycle">
										<span><img src="{{ STATIC_URL }}images/img-cycle-suzuki-swift.png" width="399" height="113" alt="" /></span>
										<span><img src="{{ STATIC_URL }}images/img-cycle-suzuki-swift.png" width="399" height="113" alt="" /></span>
									</div>
									<a href="javascript:void(0)" class="next"></a>
								</div>
							</li>
							<li class="tab-bg-ipod not-visible">
								<div class="content-cycle">
									<a href="javascript:void(0)" class="prev"></a>
									<div class="cycle">
										<span><img src="{{ STATIC_URL }}images/img-cycle-ipod.png" width="399" height="113" alt="" /></span>
										<span><img src="{{ STATIC_URL }}images/img-cycle-ipod.png" width="399" height="113" alt="" /></span>
									</div>
									<a href="javascript:void(0)" class="next"></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- ////////////////////// -->
			<div id="divProductos" class="content-body-item">
				<div class="form-productos">
					<h1><b>¡Que ninguno se te escape!</b> Entérate qué productos Nosotras participan en la promoción. ¡¡A más códigos, más opciones de ganar!!</h1>
					<div class="content-cycle" style="margin-left:40px;">
						<a href="javascript:void(0)" class="prev"></a>
						<div class="cycle">
							<span>
								<img src="{{ STATIC_URL }}images/img-prod-01.png" width="83" height="123" alt="" />
								<img src="{{ STATIC_URL }}images/img-prod-02.png" width="83" height="123" alt="" />
								<img src="{{ STATIC_URL }}images/img-prod-03.png" width="83" height="123" alt="" />
								<img src="{{ STATIC_URL }}images/img-prod-04.png" width="83" height="123" alt="" />
							</span>
							<span>
								<img src="{{ STATIC_URL }}images/img-prod-01.png" width="83" height="123" alt="" />
								<img src="{{ STATIC_URL }}images/img-prod-02.png" width="83" height="123" alt="" />
								<img src="{{ STATIC_URL }}images/img-prod-03.png" width="83" height="123" alt="" />
								<img src="{{ STATIC_URL }}images/img-prod-04.png" width="83" height="123" alt="" />
							</span>
						</div>
						<a href="javascript:void(0)" class="next"></a>
					</div>
				</div>
			</div>
			<!-- ////////////////////// -->
			<div id="divComercial" class="content-body-item">
				<div class="form-comercial">
					<h1><b>Mira el comercial de la promo Nosotras</b><br />y prepárate para ser una chica Nosotras.</h1>
					<div class="content-comercial">
						<object width="313" height="213">
							<param name="movie" value="http://www.youtube.com/v/HSJ0VoN7w38?version=3&amp;hl=es_ES&amp;rel=0"></param>
							<param name="allowFullScreen" value="true"></param>
							<param name="allowscriptaccess" value="always"></param>
							<param name="wmode" value="opaque"></param>
							<embed src="http://www.youtube.com/v/HSJ0VoN7w38?version=3&amp;hl=es_ES&amp;rel=0" type="application/x-shockwave-flash" width="313" height="213" allowscriptaccess="always" allowfullscreen="true"></embed>
						</object>
					</div>
				</div>
			</div>
			<!-- ////////////////////// -->
		</div>
	</div>
	<!-- content fin -->
{% endblock content %}
