{% extends 'base.html' %}
{% block content %}
    <!-- content inicio -->
    <div id="contenedor_1" class="content-body">
        <div class="content-body-hidden">
            <div id="bgDiv1" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-01.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-01.jpg" /></div>
            <div id="bgDiv2" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-02.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-02.jpg" /></div>
            <div id="bgDiv3" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-03.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-03.jpg" /></div>
            <div id="bgDiv4" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-04.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-04.jpg" /></div>
            <div id="bgDiv5" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-05.jpg" /></div>
            <div class="bgDivSep"><img src="{{ STATIC_URL }}images/bg/bg-slide-sep-05.jpg" /></div>
            <div id="bgDiv6" class="bgDiv"><img src="{{ STATIC_URL }}images/bg/bg-slide-06.jpg" /></div>
        </div>
    </div>
    <div id="contenedor_2" class="content-body">
        <div class="content-body-hidden">
            <div id="divInicio" class="content-body-item">
                <div id="parallax" align="center"><img src="{{ STATIC_URL }}images/img-home-layer-0.png" id="myimage2" alt=""></div>
            </div>
            <!-- ////////////////////// -->
            <div id="divIntra1" class="content-body-item">
                <div class="form1">
                    <h1>Ingresa la clave de tu empaque y participa del sorteo de <b>1 Grand Vitara, 1 Suzuki Swift y 1 iPod diario</b> que regala Nosotras.</h1>
                    <ul class="formulario1">
                        <li class="text">Correo electrónico:*</li>
                        <li class="textboxBG"><input id="txtEmail_1" name="txtEmail_1" type="text" /></li>
                        <li class="text">Fecha de nacimiento:*</li>
                        <li class="textboxBG">
                            <select id="cboDia_1" name="cboDia_1" class="cboDia">
                                <option value="">[día]</option>
                            </select>
                            <select id="cboMes_1" name="cboMes_1" class="cboMes">
                                <option value="">[mes]</option>
                            </select>
                            <select id="cboAnio_1" name="cboAnio_1" class="cboAnio">
                                <option value="">[año]</option>
                            </select>
                        </li>
                        <li class="msg">Mensaje de error al ingresar email y/o fec. Nac</li>
                        <li class="botones">
                            <span class="msg">(*) Campos obliigatorios</span>
                            <a href="javascript:void(0)" class="btn-enviar" onclick="transicion('.form1', '.form2')"></a>
                            <a href="javascript:void(0)" class="btn-borrar"></a>
                        </li>
                    </ul>
                </div>
                <!-- ////////////////////// -->
                <div class="form2" style="display:none;">
                    <h1>Regístrate para ingresar tus claves</h1>
                    <ul class="form-reg">
                        <div class="scroll-pane">
                            <li class="text">Correo electrónico (*)</li>
                            <li class="textbox"><input id="txtEmail_2" name="txtEmail_2" type="text" /></li>
                            <li class="text">Fecha de nacimiento (*)</li>
                            <li class="textbox">
                                <select id="cboDia_2" name="cboDia_2" class="cboDia">
                                    <option value="">[día]</option>
                                </select>
                                <select id="cboMes_2" name="cboMes_1" class="cboMes">
                                    <option value="">[mes]</option>
                                </select>
                                <select id="cboAnio_2" name="cboAnio_2" class="cboAnio">
                                    <option value="">[año]</option>
                                </select>
                            </li>
                            <li class="text">Nombres (*)</li>
                            <li class="textbox"><input id="txtNombres" name="txtNombres" type="text" /></li>
                            <li class="text">Apellido paterno (*)</li>
                            <li class="textbox"><input id="txtApePa" name="txtApePa" type="text" /></li>
                            <li class="text">Apellido materno (*)</li>
                            <li class="textbox"><input id="txtApeMa" name="txtApeMa" type="text" /></li>
                            <li class="text">Departamento (*)</li>
                            <li class="textbox">
                                <select id="cboDpto" name="cboDpto" class="cboUbigeo">
                                    <option value="">[seleccionar]</option>
                                </select>
                            </li>
                            <li class="text">Provincia (*)</li>
                            <li class="textbox">
                                <select id="cboProv" name="cboProv" class="cboUbigeo">
                                    <option value="">[seleccionar]</option>
                                </select>
                            </li>
                            <li class="text">Distrito (*)</li>
                            <li class="textbox">
                                <select id="cboDist" name="cboDist" class="cboUbigeo">
                                    <option value="">[seleccionar]</option>
                                </select>
                            </li>
                            <li class="text">Dirección (*)</li>
                            <li class="textbox"><input id="txtDireccion" name="txtDireccion" type="text" /></li>
                            <li class="text">Teléfono casa (*)</li>
                            <li class="textbox"><input id="txtTelfCasa" name="txtTelfCasa" type="text" maxlength="7" /></li>
                            <li class="text">Teléfono celular (*)</li>
                            <li class="textbox"><input id="txtTelfCel" name="txtTelfCel" type="text" maxlength="9" /></li>
                            <li class="text">Tipo documento (*)</li>
                            <li class="textbox">
                                <select id="cboTipDoc" name="cboTipDoc" class="cboUbigeo">
                                    <option value="">[seleccionar]</option>
                                </select>
                            </li>
                            <li class="text">Número documento (*)</li>
                            <li class="textbox"><input id="txtDni" name="txtDni" type="text" maxlength="8" /></li>
                        </div>
                        <li class="botones">
                            <span class="msg">(*) Campos obliigatorios</span>
                            <a href="javascript:void(0)" class="btn-enviar" onclick="transicion('.form2', '.form-captcha')"></a>
                            <a href="javascript:void(0)" class="btn-borrar"></a>
                        </li>
                    </ul>
                </div>
                <!-- ////////////////////// -->
                <div class="form-captcha" style="display:none;">
                    <h1>Ingresa la clave de tu empaque y participa del sorteo de<br /><b>un iPod diario y dos autos que regala Nosotras</b>.</h1>
                    <ul class="formulario3">
                        <li class="text">Ingresa tu clave<br />de empaque:</li>
                        <li class="textbox"><input id="" name="" type="text" /> <a href="javascript:void(0)" class="btn-interrogante" onclick="codEmpaque()"></a><span class="codigo-empaque hidden" style="visibility:hidden;"></span></li>
                        <li class="captcha">
                            <span class="captcha_image"><img src="{{ STATIC_URL }}images/img-captcha.gif" width="215" height="50" alt="" /></span>
                            <span class="captcha_textbox"><input id="" name="" type="text" /></span>
                        </li>
                        <li class="botones">
                            <a href="javascript:void(0)" class="btn-enviar" onclick="transicion('.form-captcha', '.form-clave-correcta')"></a>
                            <a href="javascript:void(0)" class="btn-borrar"></a>
                        </li>
                        <li class="msg" style="font-weight:normal;">Recuerda que participará en el sorteo del día, las claves ingresadas desde las 00 horas hasta las 23:59. No son acumulables. ** Recuerda guardar el empaque con la clave.</li>
                    </ul>
                </div>
                <!-- ////////////////////// -->
                <div class="form-clave-correcta" style="display:none;">
                    <p class="title"><span>Suerte,</span> Catherin Rivera</p>
                    <p class="message">Tu clave ha sido procesada satisfactoriamente.</p>
                    <p class="message"><span>Tienes</span> 2 opciones <span>para el sorteo del iPod de hoy</span></p>
                    <p class="message"><span>Tienes</span> 2 opciones <span>para el sorteo final de 1 Grand Vitara</span></p>
                    <p class="message"><a href="javascript:void(0)" class="btn-ingresa-otra-clave"></a></p>
                </div>
                <!-- ////////////////////// -->
                <div class="form-clave-ya-registrada" style="display:none;">
                    <p class="title"><span>Lo sentimos</span> Catherin Rivera</p>
                    <p class="message">Esta clave ya ha sido ingresada.</p>
                    <p class="message"><span>Con anterioridad o en promociones anteriores.</span></p>
                    <p>&nbsp;</p>
                    <p class="message"><a href="javascript:void(0)" class="btn-ingresa-otra-clave"></a></p>
                </div>
                <!-- ////////////////////// -->
                <div class="form-clave-no-valida" style="display:none;">
                    <p class="title"><span>Lo sentimos</span> Catherin Rivera</p>
                    <p class="message">La clave ingresada no es válida.</p>
                    <p class="message"><span>Revisa si las has ingresado correctamente o <br />si el producto participa de la promoción</span></p>
                    <p class="message"><a href="javascript:void(0)" class="btn-intentar-nuevamente-aqui"></a></p>
                </div>
                <!-- ////////////////////// -->
            </div>
            <!-- ////////////////////// -->
            <div id="divCompartir" class="content-body-item">
                <div class="form-compartir">
                    <p class="title">¡Compártelo con todos!</p>
                    <p class="message">¿Esta frase Nosotras va contigo?</p>
                    <p class="message"><span>¡Entonces compártela y participa del sorteo semanal!</span></p>
                    <p class="message"><img src="{{ STATIC_URL }}images/img-sticker.png" width="475" height="138" alt="" /></p>
                    <p class="message" align="right"><a href="javscript:void(0)" class="btn-compartir-facebook"></a></p>
                </div>
            </div>
            <!-- ////////////////////// -->
            <div id="divPremios" class="content-body-item">
                <div class="form-premios">
                    <div class="content-tabs">
                        <ul class="tabs-menu">
                            <li class="tab-menu-suzuki-vitara">
                                <a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
                                <a href="javascript:void(0)" class="tab-suzuki-swift"></a>
                                <a href="javascript:void(0)" class="tab-ipod"></a>
                            </li>
                            <li class="tab-menu-suzuki-swift not-visible">
                                <a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
                                <a href="javascript:void(0)" class="tab-suzuki-swift"></a>
                                <a href="javascript:void(0)" class="tab-ipod"></a>
                            </li>
                            <li class="tab-menu-ipod not-visible">
                                <a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
                                <a href="javascript:void(0)" class="tab-suzuki-swift"></a>
                                <a href="javascript:void(0)" class="tab-ipod"></a>
                            </li>
                        </ul>
                        <ul class="tabs-content">
                            <li class="tab-bg-suzuki-vitara">
                                <p>&nbsp;</p>
                                <p>Gana una Grand Vitara o Suzuki Swift y siéntete libre de ir a donde quieras.</p>
                                <p><span>¡Conoce cada auto de cerca!</span></p>
                                <div class="img"><img src="{{ STATIC_URL }}images/img-premios-suzuki-vitara.png" width="527" height="194" alt="" /></div>
                            </li>
                            <li class="tab-bg-suzuki-swift not-visible">
                                <p>&nbsp;</p>
                                <p>Gana una Grand Vitara o Suzuki Swift y siéntete libre de ir a donde quieras.</p>
                                <p><span>¡Conoce cada auto de cerca!</span></p>
                                <div class="img"><img src="{{ STATIC_URL }}images/img-premios-suzuki-swift.png" width="527" height="194" alt="" /></div>
                            </li>
                            <li class="tab-bg-ipod not-visible">
                                <p>&nbsp;</p>
                                <p>Lleva tu música a todos lados con los iPods que Nosotras te regala.</p>
                                <div class="content-cycle">
                                    <a href="javascript:void(0)" class="prev"></a>
                                    <div class="cycle">
                                        <img src="{{ STATIC_URL }}images/img-premios-ipod-nano.png" width="447" height="173" alt="" />
                                        <img src="{{ STATIC_URL }}images/img-premios-ipod-touch.png" width="447" height="173" alt="" />
                                    </div>
                                    <a href="javascript:void(0)" class="next"></a>
                                </div>
                                <p><span>*Todas tus claves te dan una opción para el sorteo diario. A mas claves ingresadas, más opciones de ganarlo.</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ////////////////////// -->
            <div id="divProductos" class="content-body-item">
                <div class="form-productos">
                    <h1><b>¡Que ninguno se te escape!</b> Entérate qué productos Nosotras participan en la promoción. ¡¡A más códigos, más opciones de ganar!!</h1>
                    <div class="content-productos">
                        <a href="javascript:void(0)" class="flecha_izq_carousel_productos" onclick="moveToPrev(); return false;"></a>
                        <a href="javascript:void(0)" class="flecha_der_carousel_productos" onclick="moveToNext(); return false;"></a>
                        <ul class="info-cartel">
                            <li id="img1"><img src="{{ STATIC_URL }}images/img-prod-01-cartel.png" /></li>
                            <li id="img2"><img src="{{ STATIC_URL }}images/img-prod-02-cartel.png" /></li>
                            <li id="img3"><img src="{{ STATIC_URL }}images/img-prod-03-cartel.png" /></li>
                            <li id="img4"><img src="{{ STATIC_URL }}images/img-prod-04-cartel.png" /></li>
                            <li id="img5"><img src="{{ STATIC_URL }}images/img-prod-05-cartel.png" /></li>
                            <li id="img6"><img src="{{ STATIC_URL }}images/img-prod-06-cartel.png" /></li>
                            <li id="img7"><img src="{{ STATIC_URL }}images/img-prod-07-cartel.png" /></li>
                            <li id="img8"><img src="{{ STATIC_URL }}images/img-prod-08-cartel.png" /></li>
                            <li id="img9"><img src="{{ STATIC_URL }}images/img-prod-09-cartel.png" /></li>
                            <li id="img10"><img src="{{ STATIC_URL }}images/img-prod-10-cartel.png" /></li>
                            <li id="img11"><img src="{{ STATIC_URL }}images/img-prod-11-cartel.png" /></li>
                            <li id="img12"><img src="{{ STATIC_URL }}images/img-prod-12-cartel.png" /></li>
                            <li id="img13"><img src="{{ STATIC_URL }}images/img-prod-13-cartel.png" /></li>
                            <li id="img14"><img src="{{ STATIC_URL }}images/img-prod-14-cartel.png" /></li>
                            <li id="img15"><img src="{{ STATIC_URL }}images/img-prod-15-cartel.png" /></li>
                            <li id="img16"><img src="{{ STATIC_URL }}images/img-prod-16-cartel.png" /></li>
                            <li id="img17"><img src="{{ STATIC_URL }}images/img-prod-17-cartel.png" /></li>
                            <li id="img18"><img src="{{ STATIC_URL }}images/img-prod-18-cartel.png" /></li>
                        </ul>
                        <ul id="flip">
                            <li id="01"><img src="{{ STATIC_URL }}images/img-prod-01-paquete.png" /></li>
                            <li id="02"><img src="{{ STATIC_URL }}images/img-prod-02-paquete.png" /></li>
                            <li id="03"><img src="{{ STATIC_URL }}images/img-prod-03-paquete.png" /></li>
                            <li id="04"><img src="{{ STATIC_URL }}images/img-prod-04-paquete.png" /></li>
                            <li id="05"><img src="{{ STATIC_URL }}images/img-prod-05-paquete.png" /></li>
                            <li id="06"><img src="{{ STATIC_URL }}images/img-prod-06-paquete.png" /></li>
                            <li id="07"><img src="{{ STATIC_URL }}images/img-prod-07-paquete.png" /></li>
                            <li id="08"><img src="{{ STATIC_URL }}images/img-prod-08-paquete.png" /></li>
                            <li id="09"><img src="{{ STATIC_URL }}images/img-prod-09-paquete.png" /></li>
                            <li id="10"><img src="{{ STATIC_URL }}images/img-prod-10-paquete.png" /></li>
                            <li id="11"><img src="{{ STATIC_URL }}images/img-prod-11-paquete.png" /></li>
                            <li id="12"><img src="{{ STATIC_URL }}images/img-prod-12-paquete.png" /></li>
                            <li id="13"><img src="{{ STATIC_URL }}images/img-prod-13-paquete.png" /></li>
                            <li id="14"><img src="{{ STATIC_URL }}images/img-prod-14-paquete.png" /></li>
                            <li id="15"><img src="{{ STATIC_URL }}images/img-prod-15-paquete.png" /></li>
                            <li id="16"><img src="{{ STATIC_URL }}images/img-prod-16-paquete.png" /></li>
                            <li id="17"><img src="{{ STATIC_URL }}images/img-prod-17-paquete.png" /></li>
                            <li id="18"><img src="{{ STATIC_URL }}images/img-prod-18-paquete.png" /></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <!-- ////////////////////// -->
            <div id="divComercial" class="content-body-item">
                <div class="form-comercial">
                    <h1><b>Mira el comercial de la promo Nosotras</b><br />y prepárate para ser una chica Nosotras.</h1>
                    <div class="content-comercial">
                        <div id="youtube-player-container"></div>
                    </div>
                </div>
            </div>
            <!-- ////////////////////// -->
        </div>
    </div>
    <!-- content fin -->
{% endblock content %}
