@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	border:none;
}

body{
}

.bg-body{
	float:left;
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	overflow:hidden;
}
	.bg-body img{
		float:left;
		position:relative;
		z-index:0;
	}

a{
	position:relative;
	z-index:100;
	cursor:pointer;
}

.clear{ clear:both; }

.left, .right{
	float:left;
	width:auto;
	height:;
}
.right{ float:right; }

p{ float:left; width:100%; }

.not-bg{ background:none !important; }
.not-visible{ display:none !important; }
.not-margin{ margin:0 !important; }

.scroll-pane, .bases{
	float:left;
	width:100%;
	height:195px;
}
	
.wrapper{
	margin:0 auto;
	width:100%;
	height:auto;
}
	.header{
		position:absolute;
		z-index:100;
		top:0;
		float:left;
		width:100%;
		height:28px;
		background:url(../images/bg-header.jpg) repeat-x;
	}
		.h-logo{
			float:left;
			width:193px;
			height:197px;
			background:url(../images/logo-nosotras.png) no-repeat 0 0;
			margin:0 0 0 20px;
		}
		.h-social{
			float:right;
			width:163px;
			height:37px;
			background:url(../images/bg-social.png) no-repeat 0 0;
		}
			a.s-facebook, a.s-youtube{
				float:left;
				width:22px;
				height:22px;
				background:url(../images/bg-s-facebook.png) no-repeat 0 0;
				margin:4px 0 0 75px;
			}
			a.s-youtube{
				background:url(../images/bg-s-youtube.png) no-repeat 0 0;
				margin-left:20px;
			}
		ul.h-menu{
			list-style:none;
			float:right;
			width:auto;
			height:28px;
		}
			ul.h-menu li{
				float:left;
				width:auto;
				background:url(../images/bg-h-li.jpg) no-repeat top left;
			}
			ul.h-menu li a{
				float:left;
				font:bold 10px Arial, Helvetica, sans-serif;
				color:#FFFFFF;
				text-transform:uppercase;
				text-decoration:none;
				padding:8px 15px 8px 15px;
			}
			ul.h-menu li a:hover, ul.h-menu li a.on{
				background:#03296D;
			}
	
	.content-body{
		position:absolute;
		width:100%;
		height:634px;
		top:0;
		left:0;
		overflow:hidden;
		background:url(../images/bg-city.jpg) no-repeat 0 0;
	}
		.content-body-hidden{
			float:left;
			width:auto;
			height:634px;
			/*background:url(../images/bg-city.jpg) no-repeat 0 28px*/
		}
			.content-body-item{
				float:left;
				width:auto;
				height:634px;
			}
	
	.footer{
		position:absolute;
		z-index:100;
		bottom:0;
		float:left;
		width:100%;
		height:63px;
		background:url(../images/bg-footer.png) repeat-x;
	}
		.botonera{
			margin:0 auto;
			width:791px;
			height:68px;
			background:url(../images/bg-botonera.png) no-repeat 0 0;
			margin-top:-24px;
		}
			.botonera-mascara{
				margin:0 auto;
				width:791px;
				height:68px;
				background:url(../images/bg-botonera-mascara.png) no-repeat 0 0;
			}
			a.btn-left, a.btn-right{
				float:left;
				width:44px;
				height:44px;
				background:url(../images/btn-left.png) no-repeat 0 0;
				margin:-50px 0 0 75px;
			}
			a.btn-right{
				float:right;
				background:url(../images/btn-right.png) no-repeat 0 0;
				margin:-50px 75px 0 0;
			}
			a.btn-comercial{
				float:left;
				position:absolute;
				width:144px;
				height:39px;
				background:url(../images/btn-comercial.png) no-repeat 0 0;
				margin:-20px 0 0 0;
				left:10px;
			}
		
		.mascara-auto{
			margin:0 auto;
			width:722px;
			height:81px;
			margin-top:-70px;
		}
			a.btn-auto{
				display:block;
				width:80px;
				height:81px;
				background:url(../images/btn-auto.png) no-repeat 0 0;
				position:relative;
				z-index:9999;
				left:80px;
			}
		ul.btns-cycle{
			list-style:none;
			float:left;
			width:auto; /* 660px */
			height:47px;
			margin:-53px 0 0 105px;
		}
			ul.btns-cycle li, ul.btns-cycle li a{
				float:left;
				width:54px;
				height:47px;
			}
			ul.btns-cycle li{
				padding:0 21px;
			}
				ul.btns-cycle li a.btn-bot-01{ background:url(../images/bg-bot-01.png) no-repeat 0 0; }
				ul.btns-cycle li a.btn-bot-02{ background:url(../images/bg-bot-02.png) no-repeat 0 0; }
				ul.btns-cycle li a.btn-bot-03{ background:url(../images/bg-bot-03.png) no-repeat 0 0; }
				ul.btns-cycle li a.btn-bot-04{ background:url(../images/bg-bot-04.png) no-repeat 0 0; }
				ul.btns-cycle li a.btn-bot-05{ background:url(../images/bg-bot-05.png) no-repeat 0 0; }
				ul.btns-cycle li a.btn-bot-06{ background:url(../images/bg-bot-06.png) no-repeat 0 0; }
		
		ul.btns-popups{
			list-style:none;
			position:relative;
			z-index:9999;
			float:left;
			width:auto; /* 660px */
			height:69px;
			margin:-110px 0 0 105px;
		}
			ul.btns-popups li, ul.btns-popups li a{
				float:left;
				width:101px;
				height:69px;
			}
			ul.btns-popups li{
				margin-left:-5px;
			}
				ul.btns-popups li a.popup-bot-01{ background:url(../images/popup-bot-01.png) no-repeat 0 0; }
				ul.btns-popups li a.popup-bot-02{ background:url(../images/popup-bot-02.png) no-repeat 0 0; }
				ul.btns-popups li a.popup-bot-03{ background:url(../images/popup-bot-03.png) no-repeat 0 0; }
				ul.btns-popups li a.popup-bot-04{ background:url(../images/popup-bot-04.png) no-repeat 0 0; }
				ul.btns-popups li a.popup-bot-05{ background:url(../images/popup-bot-05.png) no-repeat 0 0; }
				ul.btns-popups li a.popup-bot-06{ background:url(../images/popup-bot-06.png) no-repeat 0 0; }
			
	/* *************************************************************************************************************************** */
	
	ul.cycleSite{
		position:absolute;
		z-index:100;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
		ul.cycleSite li{
			float:left;
			width:100%;
			height:100%;
		}
	
	/* *************************************************************************************************************************** */
	
	#parallax{
		position:absolute;
		z-index:100;
		top:0;
		left:0;
		width:100%;
		height:355px;
		height:473px;
		margin-top:270px;
		overflow:hidden;
	}
	.form1, .form2, .form3, .form-compartir, .form-captcha, .form-clave-correcta, .form-clave-ya-registrada, .form-clave-no-valida, .form-premios, .form-productos, .form-comercial{
		margin:70px auto 0 auto;
	}
	.form1{
		width:564px;
		height:398px;
		background:url(../images/bg-form-1.png) no-repeat 0 0;
	}
	.form2{
		width:547px;
		height:381px;
		background:url(../images/bg-form-2.png) no-repeat 0 0;
	}
	.form3{
		width:651px;
		height:381px;
		background:url(../images/bg-form-3.png) no-repeat 0 0;
	}
	.form-captcha{
		width:547px;
		height:381px;
		background:url(../images/bg-form-captcha.png) no-repeat 0 0;
	}
		.form1 h1{
			float:left;
			width:470px;
			height:40px;
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#FFFFFF;
			padding:0;
			margin:78px 0 0 45px;
		}
		.form2 h1{
			float:left;
			width:470px;
			height:27px;
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#FFFFFF;
			padding:0;
			margin:70px 0 0 40px;
		}
		.form-captcha h1{
			float:left;
			width:470px;
			height:30px;
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#FFFFFF;
			padding:0;
			margin:68px 0 0 40px;
		}
			.form1 ul, .form2 ul, .form-captcha ul, .form-ganadoras ul, .form-contactenos ul{
				list-style:none;
				float:left;
			}
			.form1 ul li, .form2 ul li, .form-captcha ul li, .form-ganadoras ul li, .form-contactenos ul li{
				float:left;
				font:normal 12px Arial, Helvetica, sans-serif;
				color:#FFFFFF;
			}
			.form1 ul li.msg, .form1 ul span.msg, .form2 ul li.msg, .form-captcha ul li.msg{
				font:bold 11px Arial, Helvetica, sans-serif;
				color:#96fdf6;
			}
			input, select, textarea{
				float:left;
				font:normal 12px Arial, Helvetica, sans-serif;
				color:#636263;
				padding:3px 6px;
			}
			a.btn-enviar, a.btn-borrar{
				display:inline-block;
				width:91px;
				height:34px;
				background:url(../images/btn-enviar.png) no-repeat 0 0;
			}
			a.btn-borrar{
				background:url(../images/btn-borrar.png) no-repeat 0 0;
				margin:0 0 0 10px;
			}
			a.btn-interrogante{
				float:left;
				width:34px;
				height:27px;
				background:url(../images/btn-interrogante.png) no-repeat 0 0;
				margin-left:10px
			}
			a.btn-ingresa-otra-clave{
				display:inline-block;
				width:181px;
				height:34px;
				background:url(../images/btn-ingresa-otra-clave.png) no-repeat 0 0;
				margin-top:15px;
			}
			a.btn-intentar-nuevamente-aqui{
				display:inline-block;
				width:221px;
				height:34px;
				background:url(../images/btn-intentar-nuevamente-aqui.png) no-repeat 0 0;
				margin-top:15px;
			}
			a.btn-compartir-facebook{
				display:inline-block;
				width:138px;
				height:34px;
				background:url(../images/btn-compartir-facebook.png) no-repeat 0 0;
				margin-right:20px;
			}
		/* *********************************** */
		/* formulario 1*/
		ul.formulario1{
			width:404px;
			height:auto;
			margin:45px 0 0 86px;
		}
			ul.formulario1 li.text{
				width:124px;
				height:40px; /* 56pxpx */
				padding:16px 0 0 0;
			}
			ul.formulario1 li.textbox, ul.formulario1 li.textboxBG{
				width:280px;
				height:56px;
			}
			ul.formulario1 li.textboxBG{
				width:271px; /* 280px */
				height:46px; /* 56px */
				background:url(../images/bg-input-form-1.png) no-repeat 0 0;
				padding:10px 0 0 9px;
			}
				ul.formulario1 li.textbox input{
					width:253px;
				}
				ul.formulario1 li.textboxBG input{
					width:248px;
					border:solid 1px #E127A3;
				}
				ul.formulario1 li.textbox select,
				ul.formulario1 li.textboxBG select{
					padding:3px 6px;
					margin-right:9px;
				}
				ul.formulario1 li.textboxBG select{
					border:solid 1px #E127A3;
				}
					ul.formulario1 li.textboxBG select.cboDia{
						width:60px;
					}
					ul.formulario1 li.textboxBG select.cboMes{
						width:125px;
					}
					ul.formulario1 li.textboxBG select.cboAnio{
						width:60px;
						margin:0;
					}
			ul.formulario1 li.msg{
				width:100%;
				height:30px;
			}
			ul.formulario1 li.botones{
				width:100%;
				height:40px;
				text-align:right;
			}
				ul.formulario1 li.botones span{
					float:left;
					padding-top:10px;
				}
		
		/* formulario registro*/
		ul.form-reg{
			width:480px;
			height:auto;
			margin:22px 0 0 40px;
			background:url(../images/bg-form-reg.png) no-repeat 150px 0;
		}
			ul.form-reg .scroll-pane{
				height:150px;
				margin-top:10px;
			}
			ul.form-reg li.text{
				width:135px;
				height:25px; /* 30px */
				text-align:right;
				padding:5px 30px 0 0;
			}
			ul.form-reg li.textbox{
				width:270px;
				height:30px;
			}
				ul.form-reg li.textbox input{
					width:250px;
					border:solid 1px #E127A3;
				}
				ul.form-reg li.textbox select{
					float:left;
					padding:3px 6px;
					margin-right:9px;
					border:solid 1px #E127A3;
				}
					ul.form-reg li.textbox select.cboDia{
						width:60px;
					}
					ul.form-reg li.textbox select.cboMes{
						width:125px;
					}
					ul.form-reg li.textbox select.cboAnio{
						width:60px;
						margin:0;
					}
					ul.form-reg li.textbox select.cboUbigeo{
						width:265px;
					}
			ul.form-reg li.msg{
				width:100%;
				height:30px;
			}
			ul.form-reg li.botones{
				width:450px;
				height:40px;
				text-align:right;
				margin-top:30px;
			}
				ul.form-reg li.botones span{
					float:left;
					font:bold 11px Arial, Helvetica, sans-serif;
					color:#96fdf6;
					padding:3px 0 0 10px;
				}
		/* form captcha */
		ul.formulario3{
			width:430px;
			height:auto;
			margin:20px 0 0 60px;
		}
			ul.formulario3 li.text{
				width:160px;
				text-align:right;
				padding:3px 10px 0 0;
			}
			ul.formulario3 li.textbox{
				width:226px;
				height:44px;
				background:url(../images/bg-input-captcha.png) no-repeat 0 0;
				padding:10px 0 0 11px;
			}
				ul.formulario3 li.textbox input{
					width:150px;
					margin-top:2px;
					border:solid 1px #E127A3;
				}
			ul.formulario3 li.captcha{
				width:394px;
				height:67px;
				margin:14px 0 0 26px;
			}
				.captcha_image{
					float:left;
					width:215px;
					height:50px;
					border:solid 1px #00AEA7;
				}
				.captcha_textbox{
					float:left;
					width:auto;
					height:auto;
					margin:0 0 0 5px;
				}
					.captcha_textbox input{
						border:solid 1px #00AEA7;
					}
			ul.formulario3 li.botones{
				width:100%;
				height:40px;
				text-align:right;
				margin-top:10px;
			}
			.codigo-empaque{
				float:right;
				position:relative;
				z-index:9999;
				width:177px;
				height:135px;
				background:url(../images/img-codigo-empaque.png) no-repeat 0 0;
				margin:-100px -175px 0 0;
			}
	/* forms mensajes */
	.form-clave-correcta{
		width:601px;
		height:381px;
		background:url(../images/bg-form-clave-correcta.png) no-repeat 0 0;
	}
		.form-clave-correcta p.title{
			width:450px;
			height:30px;
			font:normal 18px Arial, Helvetica, sans-serif;
			color:#FFF;
			margin:68px 0 43px 42px;
		}
			.form-clave-correcta p.title span{
				color:#fd98d9;
			}
		.form-clave-correcta p.message{
			font:normal 15px Arial, Helvetica, sans-serif;
			color:#FFF;
			margin:4px 0 0 60px;
		}
			.message span{
				font-size:12px;
				color:#96fdf6;
			}
	
	.form-clave-ya-registrada{
		width:593px;
		height:381px;
		background:url(../images/bg-form-clave-ya-registrada.png) no-repeat 0 0;
	}
		.form-clave-ya-registrada p.title{
			width:450px;
			height:30px;
			font:normal 18px Arial, Helvetica, sans-serif;
			color:#FFF;
			margin:68px 0 60px 85px;
		}
			.form-clave-ya-registrada p.title span{
				color:#fd98d9;
			}
		.form-clave-ya-registrada p.message{
			width:260px;
			font:normal 15px Arial, Helvetica, sans-serif;
			color:#FFF;
			text-align:right;
			margin:4px 0 0 280px;
		}
	.form-clave-no-valida{
		width:651px;
		height:381px;
		background:url(../images/bg-form-clave-no-valida.png) no-repeat 0 0;
	}
		.form-clave-no-valida p.title{
			width:450px;
			height:30px;
			font:normal 18px Arial, Helvetica, sans-serif;
			color:#FFF;
			margin:68px 0 60px 85px;
		}
			.form-clave-no-valida p.title span{
				color:#fd98d9;
			}
		.form-clave-no-valida p.message{
			width:280px;
			font:normal 15px Arial, Helvetica, sans-serif;
			color:#FFF;
			text-align:center;
			margin:5px 0 0 178px;
		}
	
	/* form compartir */
	
	.form-compartir{
		width:547px;
		height:381px;
		background:url(../images/bg-form-compartir.png) no-repeat 0 0;
	}
		.form-compartir p.title{
			width:460px;
			height:30px;
			font:normal 13px Arial, Helvetica, sans-serif;
			color:#FFF;
			margin:68px 0 30px 40px;
		}
		.form-compartir p.message{
			width:490px;
			font:normal 15px Arial, Helvetica, sans-serif;
			color:#FFF;
			margin:0 0 5px 40px;
		}
		
	/*  form premios */
	.form-premios{
		width:547px;
		height:381px;
		background:url(../images/bg-premios.png) no-repeat 0 0;
	}
		.content-tabs{
			float:left;
			width:510px;
			height:auto;
			margin-top:71px;
			margin-left:18px;
		}
			ul.tabs-menu, ul.tabs-content,
			ul.tabs-menu li, ul.tabs-content li{
				list-style:none;
				float:left;
				width:510px;
				height:31px;
				overflow:hidden;
			}
			ul.tabs-content, ul.tabs-content li{
				height:260px;
			}
			a.tab-suzuki-vitara, a.tab-suzuki-swift, a.tab-ipod{
				float:left;
				width:203px;
				height:31px;
			}
			a.tab-suzuki-swift{
				width:144px;
			}
			a.tab-ipod{
				width:130px;
			}
			
			ul.tabs-menu li.tab-menu-suzuki-vitara{ background:url(../images/tab-menu-suzuki-vitara.png) no-repeat 0 0; }
			ul.tabs-menu li.tab-menu-suzuki-swift{ background:url(../images/tab-menu-suzuki-swift.png) no-repeat 0 0; }
			ul.tabs-menu li.tab-menu-ipod{ background:url(../images/tab-menu-ipod.png) no-repeat 0 0; }
			
			ul.tabs-content li.tab-bg-suzuki-vitara{ background:url(../images/tab-bg-suzuki-vitara.png) no-repeat 0 0; }
			ul.tabs-content li.tab-bg-suzuki-swift{ background:url(../images/tab-bg-suzuki-swift.png) no-repeat 0 0; }
			ul.tabs-content li.tab-bg-ipod{ background:url(../images/tab-bg-ipod.png) no-repeat 0 0; }
			
			ul.tabs-content li div.img{
				float:left;
				position:absolute;
				z-index:200;
				width:527px;
				height:194px;
				margin:55px 0 0 10px;
				*margin:20px 0 0 -465px;
			}
				ul.tabs-content li div.img img{
					position:absolute;
					z-index:9999;
				}
			ul.tabs-content li p{
				width:445px;
				font:normal 12px Arial, Helvetica, sans-serif;
				color:#FFF;
				margin:0 0 2px 30px;
			}
				ul.tabs-content li p span{
					color:#96fdf6;
				}
		
		.content-cycle{
			float:left;
			width:510px;
			height:180px;
			margin:10px 0 0 0;
		}
			a.prev, a.next,
			a.flecha_izq_carousel_productos, a.flecha_der_carousel_productos{
				float:left;
				width:27px;
				height:54px;
				background:url(../images/btn-prev.png) no-repeat 0 0;
				margin-top:55px;
			}
			a.next,
			a.flecha_der_carousel_productos{
				float:right;
				background:url(../images/btn-next.png) no-repeat 0 0;
			}
			a.flecha_izq_carousel_productos, a.flecha_der_carousel_productos{
				margin-top:90px;
			}
			.cycle{
				float:left;
				width:454px;
				height:180px;
				overflow:hidden;
			}
				.cycle span{
					float:left;
					width:100%;
					height:143px;
					text-align:center;
				}
	/*  form premios */
	.form-productos{
		width:547px;
		height:381px;
		background:url(../images/bg-productos.png) no-repeat 0 0;
	}
		.form-productos h1{
			float:left;
			width:465px;
			height:40px;
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#FFFFFF;
			padding:0;
			margin:70px 0 0 40px;
		}
		.content-productos{
			float:left;
			width:510px;
			height:auto;
			margin-left:19px;
		}
			ul.info-cartel{
				list-style:none;
				position:relative;
				float:left;
				width:456px;
				height:120px;
				overflow:hidden;
				margin-top:7px;
			}
				ul.info-cartel li{
					position:absolute;
					float:left;
					width:100%;
					height:120px;
					text-align:center;
					top:-120px;
				}
			
			.ui-jcoverflip {
				position: relative;
				list-style:none;
				float:left;
				width:456px;
				height:200px;
				overflow:hidden;
				margin-top:-55px;
			}
				.ui-jcoverflip--item {
					position: absolute;
					display: block;
				}
		
	/* form comercial */
	.form-comercial{
		width:600px;
		height:701px;
		background:url(../images/bg-comercial.png) no-repeat 0 0;
	}
		.form-comercial h1{
			float:left;
			width:370px;
			height:42px;
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#FFFFFF;
			margin:70px 0 0 40px;
		}
		.form-comercial .content-comercial{
			float:left;
			width:290px;
			height:195px;
			margin:26px 0 0 126px;
		}
	/* ********************************************************************************* */
	/* ********************************************************************************* */
	/* popups */
	
	/* form ganadoras */
	.form-ganadoras{
		float:left;
		width:547px;
		height:381px;
		background:url(../images/bg-ganadoras.png) no-repeat 0 0;
	}
		.form-ganadoras h1{
			float:left;
			width:450px;
			height:28px;
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#FFFFFF;
			margin:70px 0 0 40px;
		}
		ul.lista-ganadoras-h, ul.lista-ganadoras{
			width:435px;
			height:auto;
			margin:70px 0 0 95px;
		}
		ul.lista-ganadoras{
			/*height:150px;*/
			margin:0 0 0 95px;
		}
			ul.lista-ganadoras-h li{ color:#022c7a; }
			ul.lista-ganadoras li{ color:#cc0c85; margin:3px 0 0 0; }
			ul.lista-ganadoras-h li.fecha, ul.lista-ganadoras li.fecha{
				width:105px;
			}
			ul.lista-ganadoras-h li.ganadoras, ul.lista-ganadoras li.ganadoras{
				width:260px;
			}
			
	/* form bases */
	.form-bases{
		float:left;
		width:547px;
		height:381px;
		background:url(../images/bg-bases.png) no-repeat 0 0;
	}
		.txt-bases-promo{
			float:left;
			width:420px;
			height:195px;
			margin:115px 0 0 80px;
		}
			.txt-bases-promo h1{
				width:360px;
				height:auto;
				font:bold 12px Arial, Helvetica, sans-serif;
				color:#12378a;
			}
			.txt-bases-promo p{
				width:360px;
				height:auto;
				font:normal 12px Arial, Helvetica, sans-serif;
				color:#ce0789;
				margin-bottom:10px;
			}
	
	/* form contactenos */
	.form-contactenos{
		float:left;
		width:547px;
		height:381px;
		background:url(../images/bg-contactenos.png) no-repeat 0 0;
	}
		.form-contactenos h1{
			float:left;
			width:470px;
			height:28px;
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#FFFFFF;
			margin:70px 0 0 40px;
		}
		ul.form-contact{
			width:414px;
			height:auto;
			margin:22px 0 0 58px;
			background:url(../images/bg-form-contactenos.png) no-repeat top right;
			padding:10px 0 0 0;
		}
			ul.form-contact li{
				height:32px;
			}
			ul.form-contact li.text{
				width:94px;
				height:29px;
				text-align:right;
				padding:3px 20px 0 0;
			}
			ul.form-contact li.textbox{
				width:286px; /* 300px */
				padding-left:14px;
			}
				ul.form-contact li.textbox input, ul.form-contact li textarea{
					width:250px;
					margin-top:2px;
					border:solid 1px #F093D1;
				}
				ul.form-contact li textarea{
					height:45px;
				}
				ul.form-contact li.botones{
					width:100%;
					margin-top:30px;
					text-align:right;
				}































