<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maneja tu vida con Nosotras</title>
<meta name="title" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<meta http-equiv="cache-control" content="no-cache" />
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.jscrollpane.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pngFix.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/init.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9299552-15']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="not-bg">
<div class="wrapper">
	<!-- content inicio-->
	<form id='contacnt_form' name='contacnt_form' action='/manejatuvida/contact/send/' method='post'>
	{% csrf_token %}
	<div class="form-contactenos">
		<h1>Si tienes dudas, comentarios o sugerencias escríbenos.</h1>
		<ul class="form-contact">
			<li class="text">Nombres:</li>
			<li class="textbox">{{ contact_form.errors.first_name }}<input id="first_name" name="first_name" type="text" /></li>
			<li class="text">Apellidos:</li>
			<li class="textbox">{{ contact_form.errors.second_name }}<input id="second_name" name="second_name" type="text" /></li>
			<li class="text">E-mail:</li>
			<li class="textbox">{{ contact_form.errors.email }}<input id="email" name="email" type="text" /></li>
            <li class="text">Mensaje:</li>
			<li class="textbox" style="height:auto;">{{ contact_form.errors.comment }}<textarea id="comment" name="comment"></textarea></li>
			<li class="botones">
				<a href="javascript:void(0)" class="btn-enviar" onClick="$('#contacnt_form').submit();"></a>
				<a href="javascript:void(0)" class="btn-borrar"></a>
			</li>
		</ul>
	</div>
	</form>
	<!-- content fin -->
</div>
</body>
</html>
