<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Maneja tu vida con Nosotras</title>
    {% block meta %}
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow">
        <meta http-equiv="cache-control" content="no-cache">
    {% endblock meta %}
    {% block favicon %}
        <link rel="shortcut icon" type="image/x-icon" href="http://dev.tribalperu.com/sancela_nosotras/favicon.ico">
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="./Maneja tu vida con Nosotras_files/style.css">
        <link rel="stylesheet" type="text/css" href="./Maneja tu vida con Nosotras_files/jquery.jscrollpane.css">
    {% endblock %}
</head>
<body id="bg-horizontal">
<div class="wrapper">
	<div class="header">
		<div class="h-logo"></div>
		<div class="h-social">
			<a href="javascript:void(0)" class="s-facebook"></a>
			<a href="javascript:void(0)" class="s-youtube"></a>
		</div>
		<ul class="h-menu">
			<li><a href="javascript:void(0)" class="on">Iniciar sesión</a></li>
			<li><a href="javascript:void(0)">Ganadoras</a></li>
			<li><a href="javascript:void(0)">Bases</a></li>
			<li><a href="javascript:void(0)">Contáctenos</a></li>
        </ul>
		<div class="form-premios">
			<div class="content-tabs">
				<ul class="tabs-menu">
					<li class="tab-menu-suzuki-vitara">
						<a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
						<a href="javascript:void(0)" class="tab-suzuki-swift"></a>
						<a href="javascript:void(0)" class="tab-ipod"></a>
					</li>
					<li class="tab-menu-suzuki-swift not-visible">
						<a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
						<a href="javascript:void(0)" class="tab-suzuki-swift"></a>
						<a href="javascript:void(0)" class="tab-ipod"></a>
					</li>
					<li class="tab-menu-ipod not-visible">
						<a href="javascript:void(0)" class="tab-suzuki-vitara"></a>
						<a href="javascript:void(0)" class="tab-suzuki-swift"></a>
						<a href="javascript:void(0)" class="tab-ipod"></a>
					</li>
				</ul>
				<ul class="tabs-content">
					<li class="tab-bg-suzuki-vitara">
						<div class="content-cycle">
							<a href="javascript:void(0)" class="prev"></a>
							<div class="cycle" style="position: relative; overflow-x: hidden; overflow-y: hidden; ">
								<span style="position: absolute; opacity: 1; width: 404px; height: 142px; z-index: 2; top: 0px; left: -404px; display: none; "><img src="./Maneja tu vida con Nosotras_files/img-cycle-suzuki-vitara.png" width="399" height="113" alt=""></span>
								<span style="position: absolute; z-index: 3; top: 0px; opacity: 1; display: block; width: 404px; height: 142px; left: 0px; "><img src="./Maneja tu vida con Nosotras_files/img-cycle-suzuki-vitara.png" width="399" height="113" alt=""></span>
							</div>
							<a href="javascript:void(0)" class="next"></a>
						</div>
					</li>
					<li class="tab-bg-suzuki-swift not-visible">
						<div class="content-cycle">
							<a href="javascript:void(0)" class="prev"></a>
							<div class="cycle" style="overflow-x: hidden; overflow-y: hidden; position: relative; ">
								<span style="opacity: 1; position: absolute; z-index: 2; top: 0px; left: 0px; display: none; "><img src="./Maneja tu vida con Nosotras_files/img-cycle-suzuki-swift.png" width="399" height="113" alt=""></span>
								<span style="position: absolute; z-index: 3; top: 0px; opacity: 1; display: block; left: 0px; "><img src="./Maneja tu vida con Nosotras_files/img-cycle-suzuki-swift.png" width="399" height="113" alt=""></span>
							</div>
							<a href="javascript:void(0)" class="next"></a>
						</div>
					</li>
					<li class="tab-bg-ipod not-visible">
						<div class="content-cycle">
							<a href="javascript:void(0)" class="prev"></a>
							<div class="cycle" style="overflow-x: hidden; overflow-y: hidden; position: relative; ">
								<span style="opacity: 1; position: absolute; z-index: 2; top: 0px; left: 0px; display: none; "><img src="./Maneja tu vida con Nosotras_files/img-cycle-ipod.png" width="399" height="113" alt=""></span>
								<span style="position: absolute; z-index: 3; top: 0px; opacity: 1; display: block; left: 0px; "><img src="./Maneja tu vida con Nosotras_files/img-cycle-ipod.png" width="399" height="113" alt=""></span>
							</div>
							<a href="javascript:void(0)" class="next"></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- content fin -->
		<div class="clear"></div>
		<div class="footer">
			<div class="botonera">
				<div class="botonera-mascara"></div>
				<a href="javascript:void(0)" class="btn-left"></a>
				<a href="javascript:void(0)" class="btn-right"></a>
				<a href="javascript:void(0)" class="btn-comercial"></a>
			</div>
			<div class="mascara-auto">
				<a href="javascript:void(0)" class="btn-auto"></a>
			</div>
		</div>
	</div>
</div>
<div id="window-resizer-tooltip" style="display: block; "><a href="http://dev.tribalperu.com/sancela_nosotras/#" title="Edit settings" style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png); "></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1360</span> x <span class="tooltipHeight" id="winHeight">742</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1632</span> x <span class="tooltipHeight" id="vpHeight">768</span></div>


{% block js %}
<script type="text/javascript" src="./Maneja tu vida con Nosotras_files/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="./Maneja tu vida con Nosotras_files/jquery.pngFix.js"></script>
<script type="text/javascript" src="./Maneja tu vida con Nosotras_files/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="./Maneja tu vida con Nosotras_files/jquery.mousewheel.js"></script>
<script type="text/javascript" src="./Maneja tu vida con Nosotras_files/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript" src="./Maneja tu vida con Nosotras_files/init.js"></script>
<script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
{% endblock js %}
</body>
</html>
